<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{exercise.subject}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span>{{exercise.text}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="container" v-for="problem in exercise.problems">
          <div class="row">
            <div class="col-12">
              <span>{{problem.question}}</span>
            </div>
          </div>
          <div class="row">
            <div v-for="option in problem.options" :class="[ 'col-'+Math.round(12/problem.options.length) ]">
              <label class="custom-control custom-radio">
                <input type="radio" :name="problem._id" class="custom-control-input" v-bind:value="option" v-model="problem.answer">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{option}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-lg btn-block" @click.prevent="save">Guardar</button>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'exerciseDetail',
  created() {
      this.getInfoExercise(this.$route.params.id)
  },
  data() {
      return {
          exercise: {},
          alerts: []
      }
  },
  methods: {
      parseJwt(token) {
          var base64Url = token.split('.')[1]
          var base64 = base64Url.replace('-', '+').replace('_', '/')
          return JSON.parse(window.atob(base64))
      },
      getInfoExercise(id) {
          var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise/' + id + '/problem'
          axios.get(url).then(res => {
              this.exercise = res.data.exercise
              this.exercise.problems.forEach(problem => {
                  problem.idStudent = this.parseJwt(this.$ls.get('token')).sub
                  problem.idProblem = problem._id
              })
          }, err => {console.log(err.response)})
      },
      save(){
        var url = 'https://comprension-lectora-betomax16.c9users.io/api/answer'
        var count = 0
        this.exercise.problems.forEach(problem => {
          axios.post(url, problem).then(res => {
            count++
            if (count == this.exercise.problems.length) {
                this.$router.push('/perfils/resultados/ejercicios')
            }
          }, err => {console.log(err.response)})
        })
      }
  }
}
</script>

<style lang="css">
</style>
