<template lang="html">
  <div class="list-show">
    <div class="title"><h1>Ejercicios</h1></div>

    <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(exercise, index) in exercises">
              <th>{{index+1}}</th>
              <td>
                <router-link :to="{ name: 'exercise', params: {id:exercise._id} }">{{exercise.subject}}</router-link>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'exercises',
  created(){
    let id = this.parseJwt(this.$ls.get('token')).sub
    this.getExercises()
  },
  data () {
    return {
      exercises:[]
    }
  },
  methods:{
    parseJwt (token) {
      var base64Url = token.split('.')[1]
      var base64 = base64Url.replace('-', '+').replace('_', '/')
      return JSON.parse(window.atob(base64))
    },
    getExercises(){
      var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise'
      axios.get(url).then(res => {
        this.exercises = res.data.exercises
      }, err => {console.log(err.response)})
    }
  }
}
</script>

<style lang="css">
</style>
