<template lang="html">
  <div class="list-show">
    <div class="title"><h1>Resultados en ejercicios</h1></div>

    <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(exercise, index) in exercises">
              <th>{{index+1}}</th>
              <td>
                <router-link :to="{ name: 'results', params: {idExercise:exercise._id} }">{{exercise.subject}}</router-link>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'exerciseDetail',
  created() {
      this.getExercises()
  },
  data() {
      return {
          exercises: [],
          alerts: []
      }
  },
  methods: {
      getExercises() {
          var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise'
          axios.get(url).then(res => {
              this.exercises = res.data.exercises
          }, err => {console.log(err.response)})
      }
  }
}
</script>

<style lang="css">
</style>
