<template lang="html">
  <div class="container">
    <div v-for="alert in alerts" class="alert alert-success" role="alert">
      {{alert.message}}
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <h1>Datos personales</h1>
        <form>
          <div class="form-group" :class="[user.name=='' ? 'has-danger' : '']">
            <label class="form-control-label">Nombre</label>
            <input v-model="user.name" :class="[user.name=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Nombre" disabled>
            <div v-if="user.name==''" class="form-control-feedback">Ingrese su nombre.</div>
          </div>
          <div class="form-group" :class="[user.lastName=='' ? 'has-danger' : '']">
            <label class="form-control-label">Apellidos</label>
            <input v-model="user.lastName" :class="[user.lastName=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Apellidos" disabled>
            <div v-if="user.lastName==''" class="form-control-feedback">Ingrese sus apellidos.</div>
          </div>
          <div class="form-group" :class="[user.email=='' ? 'has-danger' : '']">
            <label class="form-control-label">Email</label>
            <input v-model="user.email" :class="[user.email=='' ? 'form-control-danger' : '']" type="email" class="form-control" placeholder="Email" disabled>
            <div v-if="user.email==''" class="form-control-feedback">Ingrese su email.</div>
          </div>
          <div class="form-group" :class="[user.birthDate=='' ? 'has-danger' : '']">
            <label class="form-control-label">Fecha de nacimiento</label>
            <input v-model="user.birthDate" :class="[user.birthDate=='' ? 'form-control-danger' : '']" type="date" class="form-control" placeholder="Fecha de nacimiento" disabled>
            <div v-if="user.birthDate==''" class="form-control-feedback">Ingrese su fecha de nacimiento.</div>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'me',
  data () {
    return {
      user:this.$ls.get('user'),
      alerts:[],
    }
  },
  methods:{

  }
}
</script>

<style lang="css">
</style>
