<template lang="html">
  <div class="list-show">
    <div class="title"><h1>Resultados de {{exercise.subject}}</h1></div>

    <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th>Pregunta</th>
              <th>Respuesta</th>
              <th>Respuesta correcta</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(result, index) in results">
              <th>{{index+1}}</th>
              <td>{{result.answers[0].answer}}</td>
              <td>{{result.correctAnswer}}</td>
              <th>
                <i style="color:red" v-if="result.answers[0].answer != result.correctAnswer" class="fa fa-times" aria-hidden="true"></i>
                <i style="color:green" v-else class="fa fa-check" aria-hidden="true"></i>
              </th>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Nota: {{(correctResults/results.length)*10}}</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'results',
  created() {
      let idExercise = this.$route.params.idExercise
      this.getInfoExercise(idExercise)
      this.getResults()
  },
  data() {
      return {
          exercise: {},
          results: [],
          correctResults: 0,
          alerts: []
      }
  },
  methods: {
      parseJwt(token) {
          var base64Url = token.split('.')[1]
          var base64 = base64Url.replace('-', '+').replace('_', '/')
          return JSON.parse(window.atob(base64))
      },
      getInfoExercise(id) {
          var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise/' + id + '/problem'
          axios.get(url).then(res => {
              this.exercise = res.data.exercise
          }, err => {console.log(err.response)})
      },
      getResults() {
          let idStudent = this.parseJwt(this.$ls.get('token')).sub
          let idExercise = this.$route.params.idExercise
          var url = 'https://comprension-lectora-betomax16.c9users.io/api/student/' + idStudent + '/exercise/' + idExercise + '/answer'
          axios.get(url).then(res => {
            this.results = res.data.problems
            this.results.forEach(result => {
                if (result.answers[0].answer == result.correctAnswer) {
                  this.correctResults++
                }
            })
          }, err => {console.log(err.response)})
      }
  }
}
</script>

<style lang="css">
</style>
