<template lang="html">
  <div class="container">
    <div v-for="alert in alerts" class="alert alert-success" role="alert">
      {{alert.message}}
    </div>
    <div class="row">
      <div class="col-6">
        <h1>Editar ejercicio</h1>
        <form @submit.prevent="update(exercise._id)">
          <div class="form-group" :class="[exercise.subject=='' ? 'has-danger' : '']">
            <label class="form-control-label">Tema</label>
            <input v-model="exercise.subject" :class="[exercise.subject=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Tema" >
            <div v-if="exercise.subject==''" class="form-control-feedback">Ingrese un nombre de tema.</div>
          </div>
          <div class="form-group" :class="[exercise.text=='' ? 'has-danger' : '']">
            <label class="form-control-label">Historia</label>
            <textarea v-model="exercise.text" class="form-control" :class="[exercise.text=='' ? 'form-control-danger' : '']" placeholder="Historia" rows="8" cols="80"></textarea>
            <div v-if="exercise.text==''" class="form-control-feedback">Ingrese un texto.</div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
        </form>
      </div>
      <div class="col-6">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name:'editExercise',
  created(){
    //let idU = this.parseJwt(this.$ls.get('token')).sub
    this.getInfoExercise(this.$route.params.id)
  },
  data(){
    return {
        exercise:{},
        alerts:[]
    }
  },
  methods:{
    parseJwt (token) {
      var base64Url = token.split('.')[1]
      var base64 = base64Url.replace('-', '+').replace('_', '/')
      return JSON.parse(window.atob(base64))
    },
    getInfoExercise(id){
      var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise/'+id
      axios.get(url).then(res => {
        this.exercise = res.data.exercise
      }, err => {console.log(err.response)})
    },
    update(id){
        var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise/'+id
      if(this.exercise.subject && this.exercise.text){
        axios.put(url, this.exercise).then(res => {
          console.log(res)
          this.$router.push('/perfil/ejercicios')
        }, err => {console.log(err.response)})
      }else{
        alert("Introdusca un tema")
      }
    }
  }
}
</script>

<style lang="css">
</style>
