<template lang="html">
  <div class="container">
    <div v-for="alert in alerts" class="alert alert-success" role="alert">
      {{alert.message}}
    </div>
    <div class="row">
      <div class="col-6">
        <h1>Nuevo ejercicio</h1>
        <form @submit.prevent="create()">
          <div class="form-group" :class="[exercise.subject=='' ? 'has-danger' : '']">
            <label class="form-control-label">Tema</label>
            <input v-model="exercise.subject" :class="[exercise.subject=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Tema" >
            <div v-if="exercise.subject==''" class="form-control-feedback">Ingrese un nombre de tema.</div>
          </div>
          <div class="form-group" :class="[exercise.text=='' ? 'has-danger' : '']">
            <label class="form-control-label">Historia</label>
            <textarea v-model="exercise.text" class="form-control" :class="[exercise.text=='' ? 'form-control-danger' : '']" placeholder="Historia" rows="8" cols="80"></textarea>
            <div v-if="exercise.text==''" class="form-control-feedback">Ingrese un texto.</div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
        </form>
      </div>
      <div class="col-6">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '../../event-bus';
import axios from 'axios'
export default {
  name:'newExercise',
  data(){
    return {
        exercise:{
          idTeacher:this.parseJwt(this.$ls.get('token')).sub
        },
        alerts:[]
    }
  },
  methods:{
    parseJwt (token) {
      var base64Url = token.split('.')[1]
      var base64 = base64Url.replace('-', '+').replace('_', '/')
      return JSON.parse(window.atob(base64))
    },
    create(){
        var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise/'
        if(this.exercise.subject && this.exercise.text){
          axios.post(url, this.exercise).then(res => {
            EventBus.$emit('createExercise', res)            
        }, err => {console.log(err.response)})
      }else{
        alert("Ingrese el nombre de un tema");
      }
      }

  }
}
</script>

<style lang="css">
</style>
