<template lang="html">
  <div class="container">
    <div v-for="alert in alerts" class="alert alert-success" role="alert">
      {{alert.message}}
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <h1>Editar Estudiante</h1>
        <form @submit.prevent="update(student._id)">
          <div class="form-group" :class="[student.name=='' ? 'has-danger' : '']">
            <label class="form-control-label">Nombre</label>
            <input v-model="student.name" :class="[student.name=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Nombre" >
            <div v-if="student.name==''" class="form-control-feedback">Ingrese su nombre.</div>
          </div>
          <div class="form-group" :class="[student.lastName=='' ? 'has-danger' : '']">
            <label class="form-control-label">Apellidos</label>
            <input v-model="student.lastName" :class="[student.lastName=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Apellidos" >
            <div v-if="student.lastName==''" class="form-control-feedback">Ingrese sus apellidos.</div>
          </div>
          <div class="form-group" :class="[student.email=='' ? 'has-danger' : '']">
            <label class="form-control-label">Email</label>
            <input v-model="student.email" :class="[student.email=='' ? 'form-control-danger' : '']" type="email" class="form-control" placeholder="Email" >
            <div v-if="student.email==''" class="form-control-feedback">Ingrese su email.</div>
          </div>
          <div class="form-group" :class="[student.birthDate=='' ? 'has-danger' : '']">
            <label class="form-control-label">Fecha de nacimiento</label>
            <input v-model="student.birthDate" :class="[student.birthDate=='' ? 'form-control-danger' : '']" type="date" class="form-control" placeholder="Fecha de nacimiento" >
            <div v-if="student.birthDate==''" class="form-control-feedback">Ingrese su fecha de nacimiento.</div>
          </div>
          <div class="form-group" :class="[student.password=='' || student.password != student.confirmPassword ? 'has-danger' : '']">
            <label class="form-control-label">Contraseña</label>
            <input v-model="student.password" :class="[student.password=='' ? 'form-control-danger' : '']" type="password" class="form-control" placeholder="Contraseña">
            <div v-if="student.password==''" class="form-control-feedback">Ingrese su contrseña.</div>
            <div v-if="student.password!=student.confirmPassword" class="form-control-feedback">Las constraseñas no coinciden.</div>
          </div>
          <div class="form-group" :class="[student.confirmPassword=='' || student.password != student.confirmPassword ? 'has-danger' : '']">
            <label class="form-control-label">Confirmación de la contraseña</label>
            <input v-model="student.confirmPassword" :class="[student.confirmPassword=='' ? 'form-control-danger' : '']" type="password" class="form-control" placeholder="Confirmación">
            <div v-if="student.confirmPassword==''" class="form-control-feedback">Ingrese su contrseña.</div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'editExercise',
        created() {
            //let idU = this.parseJwt(this.$ls.get('token')).sub      
            this.getInfoStudent(this.$route.params.id)
        },
        data() {
            return {
                student: {},
                alerts: []
            }
        },
        methods: {
            parseJwt(token) {
                var base64Url = token.split('.')[1]
                var base64 = base64Url.replace('-', '+').replace('_', '/')
                return JSON.parse(window.atob(base64))
            },
            getInfoStudent(id) {
                var url = 'https://comprension-lectora-betomax16.c9users.io/api/student/' + id
                axios.get(url).then(res => {
                    this.student = res.data.student
                    delete this.student.password
                    this.student.birthDate = this.student.birthDate.split('T')[0];
                }, err => {
                    console.log(err.response)
                })
            },
            update(id) { 
                if (this.student.name && this.student.lastName && this.student.email && this.student.birthDate && this.student.name.trim() != '' && this.student.lastName.trim() != '' && this.student.email.trim() != '' && this.student.birthDate.trim() != '') {
                    if (this.student.password && this.student.confirmPassword && this.student.password.trim() == '' && this.student.confirmPassword.trim() == '') {
                        alert('Las contraseñas no estan vacias')
                        return
                    } else if (this.student.password && this.student.confirmPassword && this.student.password != '' && this.student.confirmPassword != '' && this.student.password != this.student.confirmPassword) {
                        alert('Las contraseñas no coinciden')
                        return
                    }
                    
                    var url = 'https://comprension-lectora-betomax16.c9users.io/api/student/' + id
                    axios.put(url, this.student).then(res => {
                        this.$router.push('/perfil/estudiantes')
                        console.log(res)
                    }, err => {
                        console.log(err.response)
                    })

                }else{
                    alert("Campos incompletos")
                }
            }
        }
    }

</script>

<style lang="css">


</style>
