<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Preguntas</h1>
        <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#NewQuestion" @click.prevent="isNewQuestion = true"><i class="fa fa-plus-square-o"></i></button>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Pregunta</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(question, index) in questions">
              <th>{{index+1}}</th>
              <td><a href="#" data-toggle="modal" data-target="#NewQuestion" @click.prevent="getNewQuestion(question._id)">{{question.question}}</a></td>
              <td>
                <button type="button" name="button" class="btn btn-danger" @click.prevent="deleteQuestion(question._id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal NewQuestion-->
    <div class="modal fade" id="NewQuestion">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nueva Pregunta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click.prevent="clearNewQuestion">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group" :class="[newQuestion.question=='' ? 'has-danger' : '']">
                <label class="form-control-label">Pregunta</label>
                <input v-model="newQuestion.question" :class="[newQuestion.question=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Pregunta" >
                <div v-if="newQuestion.question==''" class="form-control-feedback">Ingrese una pregunta.</div>
              </div>
              <div class="form-group">
                  <span>Opciones:</span>
                  <br><br>
                  <div class="container">
                    <div class="row">
                      <div class="col-10">
                        <input v-model="newQuestion.newOption" type="text" class="form-control" placeholder="Opción">
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-success" @click.prevent="addOption"><i class="fa fa-plus-square-o"></i></button>
                      </div>
                    </div>
                    <div class="row" v-for="(op, index) in newQuestion.options">
                      <div class="col-2">
                        <label class="custom-control custom-radio">
                          <input type="radio" name="op" class="custom-control-input" v-bind:value="op" v-model="newQuestion.correctAnswer">
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                      <div class="col-8">
                        <span>{{op}}</span>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-danger" @click.prevent="removeOption(index)"><i class="fa fa-trash-o"  aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg btn-block" @click.prevent="addQuestion()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '../../../event-bus'
import axios from 'axios'
export default {
  name:'NewQuestion',
  created(){
    this.questions = []
    this.countQuestions = 0
    EventBus.$on('createExercise', function(payLoad) {
        let idExercise = payLoad.data.exercise._id
        this.save(idExercise)
        this.$router.push('/perfil/ejercicios')
    }.bind(this))
  },
  data(){
    return {
      newQuestion:this.clearNewQuestion(),
      countQuestions:0,
      questions: [],
      alerts: [],
      isNewQuestion:true
    }
  },
  methods:{
    clearNewQuestion(){
      return this.newQuestion = {
        _id:null,
        question:null,
        options: [],
        newOption: null,
        correctAnswer: null,
      }
    },
    getNewQuestion(id){
      for(var i=0; i<this.questions.length;i++){
        if(this.questions[i]._id==id){
          this.newQuestion = this.questions[i]
          this.isNewQuestion = false
          break
        }
      }
    },
    addQuestion(){
      if (this.newQuestion.question && this.newQuestion.question.trim() != '') {
        if (this.newQuestion.options.length > 0) {
          if (this.newQuestion.correctAnswer && this.newQuestion.correctAnswer != '') {
            if (this.isNewQuestion) {
              let flag = false
              for(var i=0; i<this.questions.length;i++){
                if(this.questions[i].question.trim()==this.newQuestion.question.trim()){
                  flag = true
                  break
                }
              }
              if (!flag) {
                this.newQuestion._id = this.countQuestions
                this.questions.push(this.newQuestion)
                this.newQuestion = this.clearNewQuestion()
                this.countQuestions++
                $('#NewQuestion').modal('hide')
              }
              else{
                alert('Pregunta existente.')
              }
            }
            else{
              for(var i=0; i<this.questions.length;i++){
                if(this.questions[i]._id==this.newQuestion._id){
                  this.questions[i] = this.newQuestion
                  break
                }
              }
              this.newQuestion = this.clearNewQuestion()              
              $('#NewQuestion').modal('hide')
            }
          }
          else {
            alert('Por favor seleccione la respuesta correcta.')
          }
        }
        else {
            alert('Por favor escriba al menos un respuesta.')
        }
      }
      else{
        alert('Por favor escriba una pregunta.')
      }
    },
    deleteQuestion(id){
      if (confirm('¿Esta seguro de eliminar la pregunta?')) {
        for(var i=0; i<this.questions.length;i++){
          if(this.questions[i]._id==id){
            this.questions.splice(i, 1)
            break
          }
        }
      }
    },
    addOption(){
      if (this.newQuestion.newOption && this.newQuestion.newOption.trim() != '') {
        let flag = false
        for(var i=0; i<this.newQuestion.options.length;i++){
          if(this.newQuestion.options[i].trim()==this.newQuestion.newOption.trim()){
            flag = true
            break
          }
        }
        if (!flag) {
          this.newQuestion.options.push(this.newQuestion.newOption)
          this.newQuestion.newOption = null
        }
        else {
          alert('Opción existente.')
        }
      }
      else {
        alert('Escribe una opción.')
      }
    },
    removeOption(index){
      this.newQuestion.options.splice(index, 1)
    },
    save(idExercise){
      let url = 'https://comprension-lectora-betomax16.c9users.io/api/problem'
      this.questions.forEach(question => {
        question.idExercise = idExercise
        axios.post(url, question).then(res => {
          console.log(res)
        }, err => {console.log(err.response)})
      })
    }
  }
}
</script>

<style lang="css">
</style>
