<template lang="html">
  <div  class="container">
    <div v-for="alert in alerts" class="alert alert-danger" role="alert">
      <strong>Oh!</strong> {{alert.message}}
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <h1>Login</h1>
        <form @submit.prevent="login">
          <div class="form-group" :class="[user.email=='' ? 'has-danger' : '']">
            <label class="form-control-label">Email</label>
            <input v-model="user.email" :class="[user.email=='' ? 'form-control-danger' : '']" type="email" class="form-control" placeholder="Email" >
            <div v-if="user.email==''" class="form-control-feedback">Ingrese su email.</div>
          </div>
          <div class="form-group" :class="[user.password=='' ? 'has-danger' : '']">
            <label class="form-control-label">Contraseña</label>
            <input v-model="user.password" :class="[user.password=='' ? 'form-control-danger' : '']" type="password" class="form-control" placeholder="Contraseña">
            <div v-if="user.password==''" class="form-control-feedback">Ingrese su contrseña.</div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
          <router-link to="/registro" class="btn btn-success btn-lg btn-block">Resgistrar</router-link>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'login',
  data () {
    return {
      user:{},
      alerts:[]
    }
  },
  methods:{
    parseJwt (token) {
      var base64Url = token.split('.')[1]
      var base64 = base64Url.replace('-', '+').replace('_', '/')
      return JSON.parse(window.atob(base64))
    },
    login(){
      if(this.user.email && this.user.password &&
         this.user.email != '' && this.user.password != ''){
	      this.alerts = []
      	var url = 'https://comprension-lectora-betomax16.c9users.io/api/signin'
      	axios.post(url, this.user)
          .then(res => {
            if (res.data.message == 'Incorrect authentication.') {
              this.alerts.push({message:'Credenciales invalidas.'})
            }
            else{
              alert('Bienvenido')
              this.$ls.set('token', res.data.token)
              let payload = this.parseJwt(this.$ls.get('token'))
              if (payload.rol == 'teacher') {
                this.$router.push('/perfil')
              }
              else {
                this.$router.push('/perfils')
              }
            }
          }, err => {
            this.alerts.push({message:err.response.data.message})
          })
      }else{
        alert("Campos incompletos");
      }
    }
  }
}
</script>

<style lang="css">

</style>
