<template lang="html">
  <div class="list-show">
    <div class="title"><h1>Ejercicios</h1></div>

    <div class="content">
        <div class="add">
           <div><h6>Agregar Nuevo Ejercicio</h6></div>
            <router-link  to="/perfil/ejercicios/nuevo" class="btn btn-success btn-lg btn-block"><i class="fa fa-plus-square-o"></i></router-link>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(exercise, index) in exercises">
              <th>{{index+1}}</th>
              <td>{{exercise.subject}}</td>
              <td>
                <router-link :to="{ name: 'editExercise', params: {id:exercise._id} }" class="btn btn-info"><i class="fa fa-edit"  aria-hidden="true"></i></router-link>
                <button type="button" name="button" class="btn btn-danger" @click.prevent="deleteExercise(exercise._id)"><i class="fa fa-trash-o"  aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'exercises',
  created(){
    let id = this.parseJwt(this.$ls.get('token')).sub
    this.getExercisesByIdUser(id)
  },
  data () {
    return {
      exercises:[]
    }
  },
  methods:{
    parseJwt (token) {
      var base64Url = token.split('.')[1]
      var base64 = base64Url.replace('-', '+').replace('_', '/')
      return JSON.parse(window.atob(base64))
    },
    getExercisesByIdUser(id){
      var url = 'https://comprension-lectora-betomax16.c9users.io/api/teacher/'+id+'/exercise'
      axios.get(url).then(res => {
        this.exercises = res.data.user.exercises
      }, err => {console.log(err.response)})
    },
    deleteExercise(id){
      if (confirm('¿Esta seguro de eliminar el ejercicio?')) {
        var url = 'https://comprension-lectora-betomax16.c9users.io/api/exercise/'+id
        axios.delete(url).then(res => {
          console.log(res)
          for(var i=0; i<this.exercises.length;i++){
            if(this.exercises[i]._id==id){
              this.exercises.splice(i, 1)
              return
            }
          }

        }, err => {console.log(err.response)})
      }
    }
  }
}
</script>

<style lang="css">
</style>
