<template lang="html">
  <div class="container">
    <div v-for="alert in alerts" class="alert alert-success" role="alert">
      {{alert.message}}
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <h1>Datos personales</h1>
        <form @submit.prevent="update(user._id)">
          <div class="form-group" :class="[user.name=='' ? 'has-danger' : '']">
            <label class="form-control-label">Nombre</label>
            <input v-model="user.name" :class="[user.name=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Nombre" >
            <div v-if="user.name==''" class="form-control-feedback">Ingrese su nombre.</div>
          </div>
          <div class="form-group" :class="[user.lastName=='' ? 'has-danger' : '']">
            <label class="form-control-label">Apellidos</label>
            <input v-model="user.lastName" :class="[user.lastName=='' ? 'form-control-danger' : '']" type="text" class="form-control" placeholder="Apellidos" >
            <div v-if="user.lastName==''" class="form-control-feedback">Ingrese sus apellidos.</div>
          </div>
          <div class="form-group" :class="[user.email=='' ? 'has-danger' : '']">
            <label class="form-control-label">Email</label>
            <input v-model="user.email" :class="[user.email=='' ? 'form-control-danger' : '']" type="email" class="form-control" placeholder="Email" >
            <div v-if="user.email==''" class="form-control-feedback">Ingrese su email.</div>
          </div>
          <div class="form-group" :class="[user.birthDate=='' ? 'has-danger' : '']">
            <label class="form-control-label">Fecha de nacimiento</label>
            <input v-model="user.birthDate" :class="[user.birthDate=='' ? 'form-control-danger' : '']" type="date" class="form-control" placeholder="Fecha de nacimiento" >
            <div v-if="user.birthDate==''" class="form-control-feedback">Ingrese su fecha de nacimiento.</div>
          </div>
          <div class="form-group" :class="[user.password=='' || user.password != user.confirmPassword ? 'has-danger' : '']">
            <label class="form-control-label">Contraseña</label>
            <input v-model="user.password" :class="[user.password=='' ? 'form-control-danger' : '']" type="password" class="form-control" placeholder="Contraseña">
            <div v-if="user.password==''" class="form-control-feedback">Ingrese su contrseña.</div>
            <div v-if="user.password!=user.confirmPassword" class="form-control-feedback">Las constraseñas no coinciden.</div>
          </div>
          <div class="form-group" :class="[user.confirmPassword=='' || user.password != user.confirmPassword ? 'has-danger' : '']">
            <label class="form-control-label">Confirmación de la contraseña</label>
            <input v-model="user.confirmPassword" :class="[user.confirmPassword=='' ? 'form-control-danger' : '']" type="password" class="form-control" placeholder="Confirmación">
            <div v-if="user.confirmPassword==''" class="form-control-feedback">Ingrese su contrseña.</div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>

<script>
import EventBus from '../event-bus';
import axios from 'axios'
export default {
  name: 'me',
  data () {
    return {
      user:this.$ls.get('user'),
      alerts:[],
    }
  },
  methods:{
    update(id){
      if (this.user.name && this.user.lastName && this.user.email && this.user.birthDate &&
          this.user.name.trim() != '' && this.user.lastName.trim() != '' && this.user.email.trim() != '' && this.user.birthDate.trim() != '') {
            if(this.user.password !== undefined && this.user.confirmPassword !== undefined && this.user.password.trim() == "" && this.user.confirmPassword.trim() == ""){                
                delete this.user.password
                delete this.user.confirmPassword
            }
            else if(this.user.password !== undefined && this.user.confirmPassword !== undefined && this.user.password != this.user.confirmPassword){
              alert('Las contraseñas no coinciden')
              return
            }
            this.alerts = []
          	var url = 'https://comprension-lectora-betomax16.c9users.io/api/teacher/'+id
          	axios.put(url, this.user)
              .then(res => {
                axios.get(url).then(res => {
                  this.user = res.data.teacher
                  this.user.birthDate = this.user.birthDate.split('T')[0];
                  delete this.user.password
                  this.$ls.set('user', this.user)
                  EventBus.$emit('userUpdate', this.user)
                  this.alerts.push({message:'Datos actualizados correctamente'})
                }, err => {
                  this.alerts.push({message:err.response.data.message})
                })
              }, err => {
                this.alerts.push({message:err.response.data.message})
              })
      }
      else {
        alert('Exsiten campos vacios.')
      }
    },
  }
}
</script>

<style lang="css">
</style>
