<template lang="html">
  <div class="container-fluid">
  <!-- Navigation -->
    <nav class="navigation" >
        <!-- Toggle Button -->
        <button class="toggle-btn hidden-md-up" @click.prevent="navOpen()" :class="[listOpen ? 'active' : '']" >
            <span class="bar-1"></span>
            <span class="bar-2"></span>
            <span class="bar-3"></span>
        </button>

        <div class="logo"></div>
        <div class="user">{{user.name + ' ' + user.lastName}}</div>
        <!-- List Wrapper -->
        <div class="list-wrapper" :class="[listOpen ? 'list-collapsed' : '']">
            <ul class="list">
                <li @click.prevent="navOpen()"><router-link  to="/perfil/ejercicios" class="nav-link">Ejercicios</router-link></li>
                <li @click.prevent="navOpen()"><router-link  to="/perfil/estudiantes" class="nav-link">Estudiantes</router-link></li>
                <li @click.prevent="navOpen()"><router-link  :to="{ name: 'teacher', params: {id:user._id} }" class="nav-link">Datos personales</router-link></li>
                <li @click.prevent="navOpen()"><a class="nav-link" href="#" @click.prevent="logout" >Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
      <div class="outer-wrapper">
        <section class="block-1">
            <h3></h3>
        </section>
        <router-view></router-view>
      </div>
  </div>
</template>

<script>
    import EventBus from '../event-bus';
    import axios from 'axios'
    export default {
        name: 'profileTeacher',
        created() {
            let id = this.parseJwt(this.$ls.get('token')).sub
            this.getInfoUser(id)
            EventBus.$on('userUpdate', function(payLoad) {
                this.user = payLoad
            }.bind(this))
        },
        data() {
            return {
                user: {},
                alerts: [],
                listOpen: false
            }
        },
        methods: {
            logout() {
                this.$ls.clear()
                this.$router.push('/')
            },
            parseJwt(token) {
                var base64Url = token.split('.')[1]
                var base64 = base64Url.replace('-', '+').replace('_', '/')
                return JSON.parse(window.atob(base64))
            },
            getInfoUser(id) {
                var url = 'https://comprension-lectora-betomax16.c9users.io/api/teacher/' + id
                axios.get(url).then(res => {
                    this.user = res.data.teacher
                    this.user.birthDate = this.user.birthDate.split('T')[0]
                    delete this.user.password
                    this.$ls.set('user', this.user)
                }, err => {
                    console.log(err.response)
                })
            },
            navOpen() {
                this.listOpen = !this.listOpen


            }
        }
    }

</script>

<style lang="css">
    .table thead th{
        text-align: center;
    }
    th{
        text-align: center;
    }
    .navigation {
        background-color: #FFB000;
        display: flex;
        align-content: center;
        height: 70px;
        padding: 10px 20px;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        /* Navigation - Logo */
        /* Navigation - List */
        /* Navigation - Toggle Button */
    }

    .navigation .logo {
        display: block;
        width: 150px;
        margin: auto;
    }

    .navigation .list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .navigation .user {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
    }

    .navigation .list li {
        display: inline;
        text-align: left;
    }

    .navigation .list a {
        color: #fff;
        font-size: 16px;
        font-size: 26px;
        font-weight: 500;
        transition: all .38s ease-in-out;
        padding: 10px 0;
        line-height: 100%;
    }

    .navigation .list li:hover a {
        color: #00E533;
    }

    .navigation .toggle-btn {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 10px;
        width: 60px;
        height: 50px;
        position: relative;
        cursor: pointer;
        z-index: 9;
    }

    .navigation .toggle-btn [class^="bar"] {
        background-color: #00B2D6;
        display: block;
        height: 5px;
        margin-bottom: 5px;
        width: 100%;
        position: relative;
        left: 0;
        transition: all .38s ease-in-out;
        border-radius: 4px;
    }

    .navigation .toggle-btn .bar-1,
    .navigation .toggle-btn .bar-3 {
        width: 30px;
    }

    .navigation .toggle-btn .bar-3 {
        margin-bottom: 0;
    }

    /* -Effects- */

    .navigation .toggle-btn.active .bar-2 {
        left: -150%;
    }

    .navigation .toggle-btn.active .bar-1 {
        transform: rotate(45deg) translateY(10px);
        margin: 0;
        background-color: #FFB000;
    }

    .navigation .toggle-btn.active .bar-3 {
        transform: rotate(-45deg) translateY(-10px);
        margin: 0;
        background-color: #FFB000;
    }

    @media (max-width: 767px) {
        .navigation .list-wrapper {
            background-color: #00B2D6;
            height: 100%;
            left: 0;
            opacity: 0;
            padding: 50px 20px 20px;
            position: fixed;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            -webkit-transition: opacity 375ms, -webkit-transform 375ms;
            transition: opacity 375ms, -webkit-transform 375ms;
            transition: opacity 375ms, transform 375ms;
            transition: opacity 375ms, transform 375ms, -webkit-transform 375ms;
            top: 0;
            width: 80%;
        }

        .navigation .list-wrapper.list-collapsed {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        .navigation .list-wrapper .close-list-btn {
            background: transparent;
            border: none;
            color: #666;
            font-size: 20px;
            line-height: 30px;
            padding: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            right: 10px;
            top: 10px;
            width: 30px;
        }

        .navigation .list li {
            display: block;
        }
    }

    .outer-wrapper {
        margin-top: 70px;
    }

    [class^="block"] {
        padding-top: 20px;
    }


    .list-show {
        padding-top: 20px;
    }

    .list-show .title {
        padding-bottom: 15px;
    }

    .list-show .add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }

    .list-show .add .btn {
        width: 60px;
        height: 40px;
        font-size: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .outer-wrapper{
            margin-left: 290px;
        }
        .navigation .list-wrapper{
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 290px;
            margin-top: 70px;
            background-color: #00B2D6;
            padding-left: 30px;
        }
    }
</style>
