<template lang="html">
  <div class="list-show">
    <div class="title"><h1>Estudiantes</h1></div>

    <div class="content">
        <div class="add">
           <div><h6>Agregar Nuevo Estudiante</h6></div>
            <router-link to="/perfil/estudiante/nuevo" class="btn btn-success btn-lg btn-block"><i class="fa fa-plus-square-o"></i></router-link>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(student, index) in students">
              <th>{{index+1}}</th>
              <th>{{student.name + " " + student.lastName }}</th>
              <td>
                <router-link :to="{ name: 'editStudent', params: {id:student._id} }" class="btn btn-info"><i class="fa fa-edit"  aria-hidden="true"></i></router-link>
                <button type="button" name="button" class="btn btn-danger" @click.prevent="deleteStudent(student._id)">
                  <i class="fa fa-trash-o"  aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'new-student',
        created() {
            this.getStudent()
        },
        data() {
            return {
                students: [],
                alerts: []
            }
        },
        methods: {
            parseJwt(token) {
                var base64Url = token.split('.')[1]
                var base64 = base64Url.replace('-', '+').replace('_', '/')
                return JSON.parse(window.atob(base64))
            },
            getStudent() {
                var url = 'https://comprension-lectora-betomax16.c9users.io/api/student/'
                axios.get(url).then(res => {
                    this.students = res.data.students
                    console.log(this.students)
                }, err => {
                    console.log(err.response)
                })
            },
            deleteStudent(id) {
                if (confirm('¿Esta seguro de eliminar al alumno?')) {
                    var url = 'https://comprension-lectora-betomax16.c9users.io/api/student/' + id
                    axios.delete(url).then(res => {
                        console.log(res)
                        for(var i=0;i<this.students.length;i++){
                            if(this.students[i]._id==id){
                                this.students.splice(i,1)
                                return 
                            }
                        }    
                    }, err => {
                        console.log(err.response)
                    })
                }
            }

        }
    }

</script>

<style lang="css">


</style>
